*               text    eol=lf linguist-vendored=true
dietpi.txt      text    eol=lf linguist-vendored=false linguist-language=ini
dietpi_*.txt    text    eol=lf linguist-vendored=false linguist-language=ini
